<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Boolzapp</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>

        <div id="verde_acqua"></div>

        <div id="app">

            <section id="sidebar">

                <div id="user">

                    <div>
                        <img src="assets/img/avatar_io.jpg" alt="">
                        <span>Nome Utente</span>
                    </div>

                    <div>
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>

                <div id="notifications">

                    <div>
                        <i class="fas fa-bell-slash"></i>
                    </div>

                    <div>
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <p>Attiva notifiche desktop</p>
                    </div>

                </div>

                <div id="search">

                </div>

                <div id="contacts">

                    <div class="contact" v-for="(contact,index) in contacts" @click="active(index)">
                        <img :src="contact.avatar" alt="">
                        <p>{{contact.name}}</p>
                    </div>

                </div>

            </section>

            <section id="message">

                <div id="userActive">

                    <div v-if="contacts[index].visible" v-for="(contact,index) in contacts">
                        <img :src="contacts[index].avatar" alt="">
                        <div>
                            <span>{{contacts[index].name}}</span>
                            <span>Ultimo accesso oggi alle</span>
                        </div>
                    </div>

                </div>

                <div id="messageUser">

                </div>

                <div id="messageReply">

                </div>

            </section>


        </div>
        
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>